:root {
  --header-height: 40px;
  --footer-height: 30px;
  --sidenav-width: 53px;
  --sidenav-menu-width: 200px;
  --layout-border-thick: 1px;
  --layout-color: #181818;
  --layout-border-color: #2b2b2b;
  --layout-background-color: #1f1f1f;
  --header-search-color: #242424;
  --header-search-border-color: #454545;
  --icon-color-active: #d7d7d7;
  --icon-color: #868686;
  --icon-vscode-color: #0098ff;
}
* {
  z-index: 10;
}

.App {
  text-align: center;
}

.vscode-body {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  width: calc(100% - var(--sidenav-width) - var(--sidenav-menu-width));
  height: calc(100% - var(--header-height) - var(--footer-height));
  color: white;
  z-index: 20;
  top: var(--header-height);
  left: calc(var(--sidenav-width) + var(--sidenav-menu-width));
  bottom: var(--footer-height);
}

.layout {
  background-color: var(--layout-background-color);
  width: 100vw;
  height: 100vh;

  .header {
    background-color: var(--layout-color);
    position: fixed;
    height: var(--header-height);
    width: 100%;
    display: flex;
    z-index: 10;
    align-items: center;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    border-bottom: var(--layout-border-thick) solid var(--layout-border-color);
    color: white;

    .vscode-icon {
      color: var(--icon-vscode-color);
      margin-left: 12px;
      width: 20px;
      height: 20px;
    }
    .header-search {
      background-color: var(--header-search-color);
      text-align: center;
      color: var(--icon-color);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      width: 35%;
      height: 28px;
      border: 1px solid var(--header-search-border-color);
      border-radius: 6px;
      span {
        position: relative;
        bottom: 3px;
        margin-left: 5px;
      }
    }

    .header-search:hover {
      filter: brightness(110%);
    }

    .search-icon {
      width: 16px;
      height: 16px;
    }
    .header-search:hover {
      filter: brightness(120%);
    }
  }

  .sidenav {
    /* background-color: var(--layout-color); */
    position: fixed;
    background-color: var(--layout-color);
    height: calc(100% - var(--header-height));
    top: var(--header-height);
    width: var(--sidenav-width);
    display: grid;
    grid-template-rows: calc(100% - var(--footer-height) - 110px) 110px;
    border-right: var(--layout-border-thick) solid var(--layout-border-color);

    .sidenav-block {
      display: flex;
      flex-direction: column;
      .sidenav-btn:hover .account-icon {
        color: var(--icon-color-active);
      }
      .sidenav-btn {
        width: var(--sidenav-width);
        height: var(--sidenav-width);
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        background-color: transparent;
        display: flex;
        border: none;

        .account-icon {
          margin: auto;
          color: var(--icon-color);
          width: 26px;
          height: 26px;
        }
        .account-icon-selected {
          color: var(--icon-color-active);
        }
      }
      .sidenav-btn-selected {
        border-left: 2px solid #0098ff;
      }
    }
  }

  .sidenav-menu {
    z-index: 10;
    position: fixed;
    width: 200px;
    background-color: var(--layout-color) /*var(--layout-background-color)*/;
    left: var(--sidenav-width);
    border: 1px solid var(--layout-border-color);
    top: var(--header-height);
    height: calc(100% - var(--header-height) - var(--footer-height));
    resize: horizontal;

    .files-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .files-top {
        height: 300px;
        overflow-y: scroll;
        scrollbar-width: none;
      }
      .files-bottom {
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        .files-bottom-title {
          background-color: #0098ff;
          display: block;
          width: 100%;
          cursor: pointer;
          transition: all;
          font-size: 14px;
          color: var(--icon-color-active);
          border-top: 1px solid var(--layout-border-color);
        }
        .files-bottom-files {
          cursor: pointer;
          transition: all;
          height: 100%;
          background-color: /*var(--icon-color-active)*/ green;
          border-top: 1px solid var(--layout-border-color);
        }

        #files-fold-trigger {
          display: none;
        }

        #files-fold-trigger:checked + .files-bottom-files {
          transition: all;
          transition-duration: 0.2s;
          height: 0%;
        }
      }
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--layout-color);
    border-top: var(--layout-border-thick) solid var(--layout-border-color);
    bottom: 0;
  }
}
